:root {
  --hover: #bdd7e9;
  --background: #e0e7ee;
  --z-backdrop: 100001;
}

.dropMenu {
  position: absolute;
  width: max-content;
  text-align: center;
  border-radius: 0.5rem;
  padding: 0.25rem;
  background-color: var(--background);
  opacity: 0;
  visibility: hidden;
  transform-origin: right top;
  inset-block: 100% auto;
  inset-inline: auto 0;
  margin-top: 10px;
  transform: scale(0.85);
  transition: opacity 150ms cubic-bezier(0.2, 0, 0.2, 1), transform 150ms cubic-bezier(0.2, 0, 0.2, 1),
    visibility 150ms cubic-bezier(0.2, 0, 0.2, 1);
}
.dropMenu.active {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  pointer-events: auto;
  z-index: var(--z-backdrop);
}
.drop-item {
  margin: 0.25rem 0;
}
/* Меню */
.backdrop {
  position: fixed;
  top: -100vh;
  left: -100vw;
  right: -100vw;
  bottom: -100vh;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 100000;
  transition: opacity 150ms cubic-bezier(0.2, 0, 0.2, 1), visibility 150ms cubic-bezier(0.2, 0, 0.2, 1);
}
.backdrop.active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.btn-toggle {
  position: absolute;
  cursor: pointer;
  top: 7px;
  right: 100px;
  border-radius: 0.25rem;
  background-color: transparent;
  padding: 0.75rem;
  z-index: var(--z-backdrop);
}
.menuContainer {
  position: absolute;
  inset-block: 8% auto;
  inset-inline: auto 0;
  visibility: hidden;
}
.mainMenu {
  position: relative;
  width: max-content;
  border-radius: 0.5rem;
  padding: 0.25rem;
  background-color: var(--background);
  opacity: 0;
  visibility: hidden;
  transform-origin: right top;
  transform: scale(0.85);
  transition: opacity 150ms cubic-bezier(0.2, 0, 0.2, 1), transform 150ms cubic-bezier(0.2, 0, 0.2, 1),
    visibility 150ms cubic-bezier(0.2, 0, 0.2, 1);
}
.mainMenu.active {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  pointer-events: auto;
  z-index: var(--z-backdrop);
}
.menuItem {
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: transparent;
  border-radius: 0.25rem;
  padding: 0.25rem 0;
  transform: scale(1);
  transition: transform 150 ease-in-out;
  &:hover {
    background-color: var(--hover);
  }
  &:active {
    transform: scale(0.98);
  }
}
.menuItem i {
  margin-inline: 0.25rem 0.5rem;
  color: rgb(112, 117, 121);
}

.toggle {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 2.125rem;
  height: 0.875rem;
  transform: scale(0.75);
  margin: 0 0 0 auto !important;
  pointer-events: none;
}

.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
  visibility: hidden;
  margin: 0 !important;
}

.slider {
  position: absolute;
  cursor: pointer;
  width: 2.125rem;
  height: 0.875rem;
  background-color: #ccc;
  transition: 150ms cubic-bezier(0.2, 0, 0.2, 1);
  border-radius: 0.5rem;
}

.slider:before {
  position: absolute;
  content: "";
  height: 0.875rem;
  width: 0.875rem;
  left: 0px;
  top: -0.125rem;
  background-color: white;
  transition: 0.4s;
  border: 0.125rem solid #ccc;
  border-radius: 0.75rem;
}

input:checked + .slider:before {
  transform: translateX(100%);
  border: 0.125rem solid #2196f3;
}

input:checked + .slider {
  background-color: #2196f3;
}

.menuBot {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: max-content;
  padding: 0.5rem 0.25rem;
  border-radius: 0.5rem;
  background-color: var(--background);
  opacity: 0;
  visibility: hidden;
  transition: opacity 150ms cubic-bezier(0.2, 0, 0.2, 1), visibility 150ms cubic-bezier(0.2, 0, 0.2, 1);
}
.menuBot.active {
  opacity: 1;
  visibility: visible;
  z-index: var(--z-backdrop);
}
.Radio {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  line-height: 2;
  padding-inline: 1.5rem;
  border-radius: 0.25rem;
  &:hover {
    background-color: var(--hover);
  }
}
.menuBot .btnMenuOpen {
  text-align: center;
  cursor: pointer;
  line-height: 2;
  padding-inline: 1.5rem;
  border-radius: 0.25rem;
  &:hover {
    background-color: var(--hover);
  }
}
.Radio > input {
  position: absolute;
  opacity: 0;
}

.Radio-main {
  position: relative;
}

.Radio-main {
  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }

  &::before {
    width: 0.8rem;
    height: 0.8rem;
    left: -1.25rem;
    border: 2px solid rgb(112, 117, 121);
    opacity: 1;
    transition: border-color 0.1s ease, opacity 0.1s ease;
  }

  &::after {
    width: 0.6rem;
    height: 0.6rem;
    left: -1.02rem;
    background: rgb(51, 144, 236);
    opacity: 0;
    transition: opacity 0.1s ease;
  }
}

.Radio > input:checked ~ .Radio-main::after {
  opacity: 1;
}

.Radio > input:checked ~ .Radio-main::before {
  border-color: rgb(51, 144, 236);
}

.menuBot .modal-header {
  position: relative;
  font-size: 0.9rem;
  text-align: center;
  margin-bottom: 0.5rem;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.3rem;
    width: 100%;
    border-radius: 1px;
    border: 1px solid rgb(204, 204, 204);
  }
}
.menuBall {
  height: 150px;
  overflow: auto;
}
.menuStatus,
.menuBall {
  inset-block: 100% auto;
  inset-inline: auto;
  margin-top: 5px;
}

.menuBall::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}
.menuSP {
  inset-block: 55% auto;
  inset-inline: auto 100%;
  margin-right: 5px;
}

@media screen and (max-width: 768px) {
  .menuContainer {
    inset-inline: 0 auto;
  }
  .mainMenu {
    transform-origin: left top;
  }
  .menuSP {
    inset-inline: 100% auto;
    margin-left: 5px;
    margin-right: 0;
  }
  .dropMenu {
    inset-inline: 0 auto;
    transform-origin: left top;
  }
  .btn-toggle {
    padding: 1.25rem;
    inset-inline: 50% auto;
    right: inherit;
  }
  .Radio-main::after {
    left: -1.01rem;
  }
}
